.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}



.ldsdualring {
    position: fixed; /* or absolute */
    top: 35%;
    left: 45%;
    display: inline-block;
    width: 64px;
    height: 64px;
    font-size: 30px;
    text-align: center;
  }
  .ldsdualring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: ldsdualring 1.2s linear infinite;
  }
  @keyframes ldsdualring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  